<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" left>
      <ion-icon class="header-icon" name="md-cog" color="light"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/imgs/header-logo.png" width="40">
    </ion-title>
    <button ion-button menuToggle="right" right>
      <ion-icon class="header-icon" name="ios-person" color="light"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="assets/imgs/header-bg.png" class="header-bg">

  <div>
     <ion-searchbar [(ngModel)]="autocomplete.query" placeholder ="" [showCancelButton]="true" (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  </div>
 <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <div class="mapCtrls">
    <div class="ctrlItem">
      <img src="assets/imgs/icon-marker.png">
    </div>
  </div>

  <div #map id="map"></div>

  <div class="requestCtrls">
    <div class="floatNav" *ngIf = "show">
           <div class="mock">

             <ion-slides id="mainNav" loop="true" slidesPerView="2">
                  <ion-slide *ngFor = " let service of subService " >
                      <img class="subImg" (click)="order( service.services_id , service.sub_services_id)" src="{{ service['icone'] }}">
                  </ion-slide>
             </ion-slides>
             <div>
                  <ion-slides (ionSlideDidChange)="slideChanged()"  id="subNav" loop="true" slidesPerView="3">
                      <ion-slide *ngFor = " let service of services ">
                        <img (click)="serviceID(service['services_id'])" src="{{ service['icone'] }}" >
                      </ion-slide>  
                  </ion-slides>
            </div>
        </div>
    </div>
    <div class="rBtns" dir="rtl">
      <div class="btn btnPrimary"   (click)=" orderNW() " >اطلب الأن</div>
      <div class="btn btnSecondary" (click)=" orderSchedule() " >اطلب لاحقاً</div>
    </div>
  </div>
</ion-content>
